// Custom styles.
.header {
  background-image: url("http://pej67qdsn.bkt.clouddn.com/sitepics/banner.png");
}

.sidebar {
  background-image: url("http://pej67qdsn.bkt.clouddn.com/sitepics/sidebar.png");
}
