// Custom styles.
.header {
  background-image: url("http://pej67qdsn.bkt.clouddn.com/sitepics/banner.png");
}

.sidebar {
  background-image: url("http://pej67qdsn.bkt.clouddn.com/sitepics/sidebar.png");
}

.s-red {
  border-radius: 4px;
  padding: 1px 6px;
  border: 0;
  color: #fff;
  background: #f44336;
}
